@model BoxingClub.Web.Models.TournamentViewModel

@{
    ViewData["Title"] = "CreateTournament";
    List<AgeCategoryViewModel> ageCategories = ViewBag.AgeCategories;
}

<h1>New Tournament</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTournament">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeCategories" class="control-label font-weight-bold"></label>
                <div>
                    <ul>
                        @foreach (var item in ageCategories)
                        {
                            <li>
                                <input type="checkbox" asp-for="@item.IsSelected">
                                <label asp-for="@item.IsSelected">@item.FullName</label>
                            </li>
                        }
                    </ul>
                </div>
                <span asp-validation-for="AgeCategories" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMedCertificateNecessary" /> @Html.DisplayNameFor(model => model.IsMedCertificateNecessary)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
