@model BoxingClub.WEB.Models.RoleViewModel

@{
    ViewData["Title"] = "EditRole";
}

<h1>EditRole</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div> <h5>@Html.ActionLink("Edit Users", "EditUsersInRole", new { roleId = Model.Id })</h5></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetRoles" asp-controller="Administration">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

