@model IEnumerable<BoxingClub.WEB.Models.RoleViewModel>

@{
    ViewData["Title"] = "GetRoles";
}

<h1>GetRoles</h1>

<p>
    <a asp-action="CreateRole">Create New</a>
</p>

@if (!Model.Any())
{
    <h5>No Roles yet</h5>
}
else
{

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRole", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteRole", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
}
