
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>
<h2 class="text-danger">You do not have permission to view this resourse</h2>

<div>
    <a asp-action="Index" asp-controller="home">Back to student's list</a>
</div>

