@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Status code: @Model.StatusCode</h2>
<h2 class="text-danger">@Model.Message</h2>

<div>
    <a asp-action="Index" asp-controller="home">To group's List</a>
</div>

