<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="LogFile" fileName="C:\Users\vasil\OneDrive\Рабочий стол\!!!BoxingClub\boxingclub\BoxingClub.WEB\LogFiles\logFile.log"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Warning" writeTo="LogFile" />
	</rules>
</nlog>